<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add category</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div>
		<h2>Add new category</h2>
		<div>
			<form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
				<label for="name">Category name</label>
					<input type="text" id="name" th:field="*{name}" class="form-control">
					<div></div>
				<input type="submit" class="btn btn-primary" value="Save"></input>
			</form>
		</div>
	</div>
	

</body>