<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>hello bookStore</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Tervetuloa Kirjakaupaan! [[${#httpServletRequest.remoteUser}]]</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign out"/>
	</form>
	<table class="table table-striped">
		<tbody>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Category</th>
		</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.ISBN}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.category.name}"></td>
				<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-success" >Add new book</a>

</body>
